@import "styles/textStyles.scss";

@media (960px <= width <= 1180px) {
  .aboutSection {
    .aboutSection-wrapper {
      max-width: 960px;
      width: 100%;

      .aboutSection-text {
        margin: 0;
        max-width: 460px;

        .aboutSection-text__title {
          @include textHeaderSmall;
        }
        .aboutSection-text__description {
          @include textDescriptionSmall;
        }
      }
      .aboutSection-picture {
        margin: 0 10px;

        max-width: 460px;

        img {
          height: 460px;
        }
      }
    }
  }
}

@media (width <= 959px) {
    .aboutSection{
.aboutSection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutSection-text {
        text-align: center;
        .aboutSection-text__description {
          @include textDescription;
        }
    }

    .aboutSection-picture {
        img {
          height: 640px;
        }
    }
  }
    }
  
}
