@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@mixin textHeader1 {
  font-size: 52px;
  line-height: 1.23;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 600;
}

@mixin textHeader2 {
  font-size: 42px;
  line-height: 1.23;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 600;
}

@mixin textHeader3 {
  font-size: 20px;
  line-height: 31px;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 700;
}

@mixin textDescription {
  font-size: 20px;
  line-height: 1.55;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textDescriptionSmall {
  font-size: 18px;
  line-height: 1.55;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textTechnologyCard {
  font-size: 16px;
  line-height: 25px;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 400;
}

@mixin textServiceCard {
  font-size: 14px;
  line-height: 1.55;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textServiceCardSmall {
  font-size: 12px;
  line-height: 1.55;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textInputLabel {
  font-size: 20px;
  line-height: 1.55;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textInputValue {
  font-size: 16px;
  line-height: 1.33;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 300;
}

@mixin textButton {
  font-size: 16px;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 700;
}

@mixin textButtonSmall {
  font-size: 14px;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 700;
}
