@import "styles/colors.scss";
@import "styles/textStyles.scss";

.stripWrapper {
  display: flex;
  justify-content: center;
  background-color: $color-blue;

  padding: 49px 0;
  width: 100%;

  .strip {
    height: 1px;
    width: 100%;
    width: 80%;
    max-width: 1160px;

    padding: 0 20px;

    opacity: 0.2;
    background-color: $color-black;
  }
}
