@import "../../styles/colors.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 990;
  height: 99px;

  transition: all 0.4s ease;

  .header__holder {
    padding: 0 40px;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Nunito", Arial, sans-serif;
    line-height: 98px;

    margin: auto;

    .header__logo {
      cursor: pointer;

      font-weight: 600;
      letter-spacing: 0.03em;
      font-size: 24px;
      line-height: 98px;
    }

    .header__menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin: 0;
      padding: 0;

      letter-spacing: 0.145em;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;

      line-height: 99px;

      a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        padding-top: 1px;
        margin-left: 20px;
      }

      .selectedSection {
        color: $color-gray;
      }
    }
  }
}

.header.transparent {
  color: $color-white;
  background-color: transparent;
}

.header.opaque {
  color: $color-black;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.13) 0 4px 16px;
}
