.technologyCard {
  width: 360px;
  height: 345px;

  background-color: $color-ligtBlue;
  border-radius: 10px;

  .cardPicture {
  }
  .cardTitle {
  }
  .cardContent {
    .techElement {
    }
  }
}
