@import "./../../../styles/colors.scss";
@import "./../../../styles/textStyles.scss";

.myInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;

  label {
    @include textInputLabel;
    color: $color-black;

    padding-bottom: 5px;
  }

  .inp {
    @include textInputValue;

    height: 24px;
    width: 720px;
    line-height: 1.33;
    padding: 26px 20px 10px 20px;

    border: solid 1px $color-lightBlue;
    border-radius: 10px;

    background-color: $color-lightBlue;
    color: $color-black;
  }

  .error {
    border: solid 1px $color-error;
  }

  .sizeable {
    resize: vertical;
    height: 72px;
    // padding-top: 20px;
    margin-bottom: 0;
  }

  .errorMessage {
    margin-top: 5px;
    @include textInputError;
    color: $color-error;
  }
  .invisible {
    opacity: 0;
  }
}

.inputBlock {
  position: relative;

  .placeholder {
    position: absolute;
    top: 20px;
    left: 20px;

    @include textInputValue;
    color: $color-gray;

    pointer-events: none;

    transition: all 0.2s;
  }

  .inp:focus + .placeholder,
  .inp:not(:placeholder-shown) + .placeholder {
    transform: scale(0.8) translateY(-20px) translateX(-5px);
  }

  .sizeable:focus + .placeholder,
  .sizeable:not(:placeholder-shown) + .placeholder {
    transform: scale(0.8) translateY(-20px) translateX(-18px);
  }
}

@media (max-width: 1180px) {
  .myInput {
    .inp {
      width: 560px;
    }
  }
}
