@import "styles/colors.scss";
@import "styles/textStyles.scss";

:root {
  background-color: $color-blue;
}

textarea:focus,
input:focus {
  outline: none;
}

.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

}
