@import "./assets/colors.scss";
@import "./assets/textStyles.scss";

:root {
  background-color: $color-blue;
}

textarea:focus,
input:focus {
  outline: none;
}

.stripWrapper {
  display: flex;
  justify-content: center;
  background-color: $color-blue;

  padding: 36px 0;
  width: 100%;

  .strip {
    height: 1px;
    width: 100%;
    max-width: 1120px;

    padding: 0 20px;

    opacity: 0.2;
    background-color: $color-black;
  }
}

.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  .welcomeSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

    .parallaxPic {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      transform: translateZ(-5px) scale(1.5);

      animation: pictureFade 1s ease-in;
    }

    .blackOpaque {
      position: absolute;
      top: 0;
      right: 0;

      width: 100vw;
      height: 100vh;

      background-color: $color-black;
      opacity: 0.8;
    }

    .textAndButton {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .textName {
        color: $color-white;

        padding: 24px 0;

        font-size: 58px;
        letter-spacing: 1px;
        line-height: 1.17;
        font-family: "Nunito", Arial, sans-serif;
        font-weight: 600;

        animation: slideUp 0.4s ease-in-out 1.2s forwards;
        opacity: 0;
      }

      .textDescription {
        color: $color-white;

        padding: 15px 0 30px 0;
        margin-bottom: 45px;

        font-size: 22px;
        line-height: 1.55;
        font-family: "Nunito", Arial, sans-serif;
        font-weight: 300;

        animation: slideUp 0.4s ease-in-out 1.5s forwards;
        opacity: 0;
      }

      .button-wrapper {
        animation: slideUp 0.4s ease-in-out 2s forwards;
        opacity: 0;
      }
    }
  }

  @keyframes pictureFade {
    0% {
      filter: blur(50px);
    }

    100% {
      filter: blur(0);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .aboutSection {
    height: 770px;
    background-color: $color-blue;

    display: flex;
    justify-content: center;

    .aboutSection-wrapper {
      display: flex;
      flex-direction: row;

      width: 100%;
      max-width: 1200px;

      padding-top: 120px;
      padding-bottom: 90px;

      .aboutSection-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-left: 20px;
        margin-right: 20px;
        max-width: 560px;

        .aboutSection-text__title {
          @include textHeader2;
          color: $color-black;

          margin-bottom: 16px;
        }
        .aboutSection-text__line {
          max-width: 50px;
          width: 100%;
          height: 3px;
          background-color: $color-gray;
        }
        .aboutSection-text__description {
          @include textDescription;
          color: $color-black;

          margin-top: 28px;

          p {
            margin: 0;
          }
        }
      }

      .aboutSection-picture {
        margin-left: 20px;
        margin-right: 20px;

        max-width: 560px;

        img {
          height: 560px;
        }
      }
    }
  }

  .technologySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-blue;

    .technologySection-title {
      @include textHeader1;
      color: $color-black;

      padding-top: 38px;
      padding-bottom: 48px;

      display: flex;
      justify-content: center;
    }
    .technologySection-cards {
      display: flex;
      justify-content: center;

      margin: 12px 0;

      .cards-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1200px;
        flex-wrap: wrap;
      }
    }
  }

  .productSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-blue;

    .productSection-title {
      @include textHeader1;
      color: $color-black;
      text-align: center;

      padding: 38px 0 48px 0;
    }
    .productSection-content {
      display: flex;
      flex-direction: row;
      justify-content: center;

      padding-bottom: 90px;

      .content-picture {
        height: 560px;
        margin: 0 20px;

        img {
          height: 560px;
          width: 560px;
        }
      }
      .content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: $color-black;

        max-width: 560px;
        margin: 0 20px;

        .title {
          @include textHeader2;
          text-align: center;

          margin-bottom: 16px;
        }

        .text__line {
          max-width: 50px;
          width: 100%;
          height: 3px;
          background-color: $color-gray;
        }

        .description {
          @include textDescription;
          text-align: center;

          margin-top: 28px;
          margin-bottom: 60px;
        }
      }
    }
  }

  .servicesSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $color-blue;

    margin-bottom: 90px;

    .servicesSection__title {
      @include textHeader1;
      color: $color-black;

      text-align: center;

      padding-top: 30px;
      padding-bottom: 45px;
    }

    .servicesSection__cards {
      margin: 0 8px;
      max-width: 1205px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-blue;

    padding-bottom: 90px;

    .formSection-title {
      @include textHeader1;
      color: $color-black;
      text-align: center;

      margin-top: 30px;
      margin-bottom: 45px;
    }

    .formSection-form-container {
      text-align: center;

      animation: slideUp 0.4s ease-in-out 1s forwards;
      opacity: 0;

      .warning {
        margin-top: 30px;
        @include textDescriptionSmall;

        align-items: center;
        font-size: 15px;
      }
    }
  }

  .footer {
    background-color: $color-footerBlue;
    height: 150px;
    padding: 30px;

    display: flex;
    flex-direction: row;

    color: $color-white;

    .footer-left {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include textDescription;

      .footer-component {
        margin-bottom: 10px;
      }
      .footer-component:last-child {
        margin-bottom: 0;
      }
    }
    .footer-right {
      height: 100%;
      width: fit-content;

      .footer-title {
        @include textHeader2;
        margin-bottom: 10px;
      }
      .footer-icons {
        width: 50%;
        display: flex;
        justify-content: space-between;

        a {
          img {
            filter: invert(1);
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
