@import "./../../../assets/colors.scss";
@import "./../../../assets/textStyles.scss";

.buttonBlack {
  background-color: $color-black;
  color: $color-white;
  border: 0 none;

  cursor: pointer;

  height: 60px;
  width: fit-content;
  padding-left: 60px;
  padding-right: 60px;

  text-align: center;

  @include textButton;

  transition: 0.3s;
}

.buttonBlack:hover {
  background-color: $color-white;
  color: $color-black;
}
